* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: url(./assets/background.png);
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
    color: #16493F;
    padding-top: 50px;
    font-weight: 600;
    font-size: 22px;
   
}



.container {
    background-color: #cce3de;
    width: 500px;
    border-radius: 15px;
    margin: 0 auto ;
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    -webkit-box-shadow: 10px 10px 9px 2px rgba(95, 158, 160, 1);
    -moz-box-shadow: 10px 10px 9px 2px rgba(95, 158, 160, 1);
    box-shadow: 10px 10px 9px 2px rgba(95, 158, 160, 1);

}

.input-task {
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    padding: 25px;
    color: #264653;
    text-transform: capitalize;


}

.btn {
    border: 2px solid #fff;
    border-radius: 10px;
    height: 40px;
    background-color: #5f9ea0;
    color: #fff;
    font-size: 17px;
    padding: 5px 30px;
    float: right;
    cursor: pointer;
    margin: auto;
    font-size: 18px;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 0.6

}

.btn:hover img {
    opacity: 1;
}

img {
    height: 28px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


.list-task {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.task:hover img {
    opacity: 1;

}

.task {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #eaf4f4;
    -webkit-box-shadow: 10px 10px 9px 2px rgba(95, 158, 160, 1);
    -moz-box-shadow: 10px 10px 9px 2px rgba(95, 158, 160, 1);
    box-shadow: 10px 10px 9px 2px rgba(95, 158, 160, 1);
    cursor: pointer;
    text-transform: capitalize;
    font-size: 18px;
}

.done {
    background-color:#298371;
    text-decoration: line-through;
    color: #eaf4f4;
    border: #fff 1px solid;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    
}